.signUpContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUpCard {
  background-color: #2d2d2d;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.signUpCard h2 {
  margin: 0;
  text-align: center;
  color: #f5f5f5;
}

.signUpInput {
  width: auto;
  padding: 12px 15px;
  border-radius: 6px;
  border: 1px solid #555;
  background-color: #1e1e1e;
  color: #f5f5f5;
  font-size: 14px;
  outline: none;
  transition:
    border-color 0.2s ease,
    background-color 0.2s ease;
}

.signUpInput:focus {
  border-color: #0074cc;
  background-color: #252525;
}

.signUpButton:hover {
  background-color: #004d86;
}

.existingAccountButton {
  background-color: rgba(0, 116, 204, 0.48);
}
