.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f8f9f9;
  padding: 10px 0;
  gap: 10px;
  grid-area: n;
  border-right: 1px solid #dedede;
}

.navbar div {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 10px 15px;
  cursor: pointer;
}

.navbar div:hover {
  background-color: #dedede;
}

.navbar img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  font-weight: 500;
  flex-grow: 1;
}
