.block {
  margin-bottom: 24px;
}

.block p {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
}

select {
  background-color: #0074cc;
  color: #f5f5f5;
  border: 1px solid #0074cc;
  border-radius: 6px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease;
}

select:hover {
  background-color: #004d86;
}

select:focus {
  outline: none;
}

button {
  border: none;
  border-radius: 6px;
  padding: 10px 18px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    transform 0.1s ease;
  background-color: #0074cc;
  color: #f8f9f9;
}

button:hover {
  background-color: #004d86;
}

.editorWrapper {
  border: 2px solid #22b622;
  overflow: hidden;
}

.success {
  color: #22b622;
}
