.usersList {
  display: flex;
  flex-direction: column;
  gap: 12px;

  max-height: 700px;
  overflow-y: auto;
  padding-right: 8px;
}

.loading {
  font-size: 16px;
  color: #888;
  text-align: center;
  margin-top: 40px;
}

.usersPage {
  max-width: 800px;
  margin: auto;
}

.paginatorWrapper {
  display: flex;
  justify-content: center;
}
