.accountPage > div:first-child {
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.account {
  padding: 20px;
  border-radius: 8px;
}

.accountHeader {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.accountHeader img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}

.accountMainInfo p {
  margin: 2px 0;
}

.accountStatistics {
  padding-bottom: 15px;
  margin-bottom: 15px;
  max-height: 300px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
}

.accountStatistics h3 {
  margin-bottom: 8px;
  font-size: 1.1rem;
}

.accountStatistics p {
  margin: 2px 0;
}

.changeInfoText {
  font-size: 1.1rem;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}

.changeInfoContent {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.changeInfoContentUsername input,
.changeInfoContentPassword input,
.changeInfoContentUsername button,
.changeInfoContentPassword button {
  width: 100%;
  box-sizing: border-box;
}

.changeInfoContentUsername,
.changeInfoContentPassword {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: #f8f9f9;
  padding: 15px;
  border-radius: 6px;
  flex: 1;
  min-width: 220px;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px;
  border: none;
  background: #f8f9f9;
  color: #0074cc;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #e1ecf4;
}

.success:focus {
  outline: 2px solid #4caf50;
}

.error:focus {
  outline: 2px solid red;
}

.successMessage {
  color: #22b622;
}

.errorMessage {
  color: red;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.deleteAccountButton {
  background-color: darkred;
  margin-left: 15px;
}

.deleteAccountButton:hover {
  background-color: red;
}
